---
---

$general_font_size: 10px;
$gutter: 10px;
$vertical_spacing: $gutter*2;
$primary_font_family: sans-serif;

$color--black: #000000;
$color--white: #FFFFFF;

html, body {
  font-family: $primary_font_family;
  margin:0;
  padding: 0;
  font-size: $general_font_size * 1.6;
}

.u-text--large {
  font-size: $general_font_size * 7;
}

h1{
    font-size: $general_font_size * 4.8;
    word-break: break-all;
}
h2{
    font-size: $general_font_size * 3.6;
}
h3{
    font-size: $general_font_size * 2.4;
}
p {
  font-size: $general_font_size * 2;
  line-height: $general_font_size * 2.5;
}

a {
  color: $color--black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.grid {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-flow: row wrap;
    padding: $gutter;
    min-height:100vh;
    height: auto;

    .grid-item {
      flex: 0 0 355px;
      height: 355px;
      border: 1px solid $color_black;
    }
}


@media screen and (max-width: 480px) {
}
